@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import 'tailwind';


body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  font-size: 64px;
  margin-bottom: 20px;
  @media (max-width: 540px) {
      font-size: 45px;
  }
}

p {
  font-size: 36px;
  font-weight: normal;
  margin-top: 10px;
  @media (max-width: 540px) {
      font-size: 24px;
  }
}


  .logo {
    max-width: 100%;
    height: 250px;
  }
