<article class="vh-100 dt w-100 bg-dark-pink">
  <div class="logo-container">
    <img src="https://res.cloudinary.com/inseazn/image/upload/v1564199037/claeus-01_3.svg" alt="" class="logo">
  </div>
  <div class="dtc v-mid tc white ph3 ph4-l">
    <h1 class="f6 f2-m f-subheadline-l fw6 tc">Hi ✋, we're Claeus, Inc</h1>
    <p>We're building tools to make selling and buying fashion online across Africa very easy. We'll be ready for you soon.</p>
  </div>
</article>
{{outlet}}